MentorIdentity/.vs/MentorIdentity/v15/Server/sqlite3/storage.ide-wal
MentorIdentity/.vs/MentorIdentity/v15/Server/sqlite3/storage.ide-shm
MentorIdentity/.vs/MentorIdentity/v15/Server/sqlite3/storage.ide
MentorIdentity/.vs/MentorIdentity/v15/Server/sqlite3/db.lock
MentorIdentity/MentorIdentity.DALL/obj/project.assets.json
MentorIdentity/MentorIdentity.DALL/obj/MentorIdentity.DALL.csproj.nuget.g.targets
MentorIdentity/MentorIdentity.DALL/obj/MentorIdentity.DALL.csproj.nuget.g.props
MentorIdentity/MentorIdentity.DALL/obj/MentorIdentity.DALL.csproj.nuget.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.1/MentorIdentity.DALL.csproj.CoreCompileInputs.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.1/MentorIdentity.DALL.assets.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.1/MentorIdentity.DALL.AssemblyInfoInputs.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.1/MentorIdentity.DALL.AssemblyInfo.cs
MentorIdentity/MentorIdentity.DALL/bin/Debug/netcoreapp2.2/MentorIdentity.DALL.pdb
MentorIdentity/MentorIdentity.DALL/bin/Debug/netcoreapp2.2/MentorIdentity.DALL.dll
MentorIdentity/MentorIdentity.DALL/bin/Debug/netcoreapp2.2/MentorIdentity.DALL.deps.json
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.pdb
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.dll
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.csprojAssemblyReference.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.csproj.FileListAbsolute.txt
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.csproj.CoreCompileInputs.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.assets.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.AssemblyInfoInputs.cache
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.2/MentorIdentity.DALL.AssemblyInfo.cs
MentorIdentity/MentorIdentity.DALL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MentorIdentity/MentorIdentity.WebApp/obj/project.assets.json
MentorIdentity/MentorIdentity.WebApp/obj/MentorIdentity.WebApp.csproj.nuget.g.targets
MentorIdentity/MentorIdentity.WebApp/obj/MentorIdentity.WebApp.csproj.nuget.g.props
MentorIdentity/MentorIdentity.WebApp/obj/MentorIdentity.WebApp.csproj.nuget.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.assets.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.AssemblyInfoInputs.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.AssemblyInfo.cs
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.runtimeconfig.json
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.runtimeconfig.dev.json
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.pdb
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.exe
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.dll
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.deps.json
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.pdb
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.exe
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.dll
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.csprojAssemblyReference.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.csproj.FileListAbsolute.txt
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.csproj.CoreCompileInputs.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.RazorTargetAssemblyInfo.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.RazorAssemblyInfo.cs
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.RazorAssemblyInfo.cache
MentorIdentity/MentorIdentity/obj/project.assets.json
MentorIdentity/MentorIdentity/obj/MentorIdentity.csproj.nuget.g.targets
MentorIdentity/MentorIdentity/obj/MentorIdentity.csproj.nuget.g.props
MentorIdentity/MentorIdentity/obj/MentorIdentity.csproj.nuget.cache
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/MentorIdentity.csprojAssemblyReference.cache
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/MentorIdentity.csproj.CoreCompileInputs.cache
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/MentorIdentity.assets.cache
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/MentorIdentity.AssemblyInfoInputs.cache
MentorIdentity/MentorIdentity/obj/Debug/netcoreapp2.1/MentorIdentity.AssemblyInfo.cs
MentorIdentity/MentorIdntity.BLL/obj/project.assets.json
MentorIdentity/MentorIdntity.BLL/obj/MentorIdntity.BLL.csproj.nuget.g.targets
MentorIdentity/MentorIdntity.BLL/obj/MentorIdntity.BLL.csproj.nuget.g.props
MentorIdentity/MentorIdntity.BLL/obj/MentorIdntity.BLL.csproj.nuget.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.1/MentorIdntity.BLL.csproj.CoreCompileInputs.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.1/MentorIdntity.BLL.assets.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.1/MentorIdntity.BLL.AssemblyInfoInputs.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.1/MentorIdntity.BLL.AssemblyInfo.cs
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdntity.BLL.pdb
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdntity.BLL.dll
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdntity.BLL.deps.json
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.pdb
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.dll
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.csprojAssemblyReference.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.csproj.FileListAbsolute.txt
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.csproj.CoreCompileInputs.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.assets.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.AssemblyInfoInputs.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdntity.BLL.AssemblyInfo.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MentorIdentity/.vs/MentorIdentity/DesignTimeBuild/.dtbcache
MentorIdentity/.vs/config/applicationhost.config
MentorIdentity/.vs/MentorIdentity/v15/.suo
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.csprojAssemblyReference.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.csproj.CoreCompileInputs.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.RazorTargetAssemblyInfo.cs
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.Views.dll
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.WebApp.Views.pdb
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.csproj.CopyComplete
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.Views.pdb
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.Views.dll
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.TagHelpers.output.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.TagHelpers.input.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/MentorIdentity.WebApp.RazorCoreGenerate.cache
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.AssemblyInfo.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.AssemblyInfoInputs.cache
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.assets.cache
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.DALL.pdb
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.DALL.dll
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.BLL.pdb
MentorIdentity/MentorIdentity.WebApp/bin/Debug/netcoreapp2.2/MentorIdentity.BLL.dll
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/Razor/Views/Home/Error.cshtml.g.cs
MentorIdentity/MentorIdentity.WebApp/obj/Debug/netcoreapp2.2/Razor/Views/Account/Register.cshtml.g.cs
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.pdb
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.dll
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.csproj.FileListAbsolute.txt
MentorIdentity/MentorIdntity.BLL/obj/Debug/netcoreapp2.2/MentorIdentity.BLL.csproj.CopyComplete
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdentity.DALL.pdb
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdentity.DALL.dll
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdentity.BLL.pdb
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdentity.BLL.dll
MentorIdentity/MentorIdntity.BLL/bin/Debug/netcoreapp2.2/MentorIdentity.BLL.deps.json
